
  .second-navbar {
    flex-direction: row;
    height:7vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: 0.125s;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    animation: moveDown 0.5s ease-in-out;
    color:white;
    background-color:white;
    transition: 0.5s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
  
  .navbar-sticky {
    flex-direction: row;
    height:7vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: 0.5s;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    animation: moveDown 0.5s ease-in-out;
    color:white;
    background-color:transparent;
}
  
  .navbar--logo {
    width: 2.25rem;
    height: 2.25rem;
    background-size: cover; 
    margin-right: 0.5rem;
    animation: rotate 0.7s ease-in-out 0.5s;
    background-color:white;
    color: lightsalmon;
    border-radius:50%;
    cursor: pointer;
  }
  .navbar--logo-text {
    padding-top: 0.9vh;
  }
  .navbar--link {
    display: flex;
    /* align-self: flex-end; */
    list-style-type: none;

}
  .navbar-vision {
    color:lightsalmon;
    cursor: pointer;
    margin-left:1vw;
    margin-right:1vw;
    border-bottom:2px solid transparent
    /* transition:0.5s; */
  }
  .navbar-vision:hover {
    transition:0.25s;
    border-bottom:2px solid lightsalmon;

  }
  .navbar--link-item {
      cursor: pointer;
      margin-left:1vw;
      margin-right:1vw;
      border-bottom:2px solid transparent
      /* transition:0.5s; */

  }
  .navbar--link-item:hover {
    transition:0.25s;
    border-bottom:2px solid white;
  }

  @keyframes moveDown {
    from {
      transform: translateY(-5rem);
    }
    to {
      transform: translateY(0rem);
    }
  }
  
  @keyframes rotate {
    0% {
      transform: rotateY(360deg);
    }
    100% {
      transform: rotateY(0rem);
    }
  }