.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem 2.5rem;
    /* height:20px; */
    position:absolute;
    bottom:0;
    margin-bottom: 2vh;
    /* z-index: 1; */
    width: 100%;
    transition: 0.5s;
    color:white;
  }
  
  .navbar-sticky {
    flex-direction: row;
    background: #333;
    height:7vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: 0.5s;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 1px 1px 1px #222;
    animation: moveDown 0.5s ease-in-out;
    color:white;
    background-color:#efb59d;
}
  
  .navbar--logo {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
    animation: rotate 0.7s ease-in-out 0.5s;
  }
  .navbar--link {
    display: flex;
    list-style-type: none;

}
  .navbar--link-item {
      margin-left:1vw;
      margin-right:1vw;
      border-bottom:1px solid transparent
  }
  .navbar--link-item:hover {
      border-bottom:1px solid white;
  }

  @keyframes moveDown {
    from {
      transform: translateY(-5rem);
    }
    to {
      transform: translateY(0rem);
    }
  }
  
  @keyframes rotate {
    0% {
      transform: rotateY(360deg);
    }
    100% {
      transform: rotateY(0rem);
    }
  }