.contact-div {
    background-color:#f7d240;
    border-radius:30px;
    height:55vh;
    width:25vw;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;

}
.input-label {
    margin:0;
    margin-top:2vh;
    // font-family:'Oswald';
    color:black;
    font-weight: 600;
}
.contact-input {
    border-radius: 6px;
    border:0;
}
.contact-message {
    border-radius: 6px;
    border:0;
    overflow: auto;
    resize: none;
}
.input-title {
    color:black;
    font-weight: 600;

}
.input-button {
    margin-top: 4vh;
}