.footer-container {
    background-color:#252525;
    height:30vh;
    width:100vw;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.copyright {
    font-size:0.5em;
    opacity:0.8

}
.mentions {
    font-size:0.7em;
    opacity:0.8
}
.footer-packages {
    display:flex;
    flex-direction:row;
    justify-content:center;
    margin-bottom:3vh;
}
/* .bootstrap-package {
    height:6vh;
    width:4vw;   
    background-size:cover;
    background-color:transparent;
    cursor:pointer;
} */

.package {
    height:7vh;
    width:4.5vw;   
    background-size:cover;
    background-color:transparent;
    cursor:pointer;
    margin: 1vh
}


.package-button-text {
    height:3vh;
    width:4.5vw;
    color:white;
    opacity:0.8;
    font-size:0.8em;
    margin-left:0.3vw;
    /* margin-right:0.3vw; */
}
.package-anchor {
    text-decoration: none;
    border-bottom:1px solid transparent;

}
.package-anchor:hover {
    border-bottom:1px solid white;
    transition:0.5s;
}