.landing-div {
  

}


.landing-image {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    background-image: url('../assets/landscape.jpeg');
    background-size: cover; 
    width: 100vw;
    height: 100vh;
    box-shadow: inset 0 0 0 1000px #ffa07a9c;
        // opacity: 0.8;
}
.landing-text {
    font-family: 'Acme', sans-serif;
    font-size: 3em;
    color: white;
    // text-shadow: 3px 3px black;
}
.landing-text-name {
    font-size:5em;
}
.landing-button {
    background-color:transparent;
    border: 2px solid white ;
    margin-top:2vh;
    width:15vw;
    height:7vh;
    color:white;
    font-size:1em;
    text-shadow:1px 1px black;
    border-radius:5px;
    padding:1vh;
    
}
.landing-button:hover {
    background-color:white;
    color:lightsalmon;
    box-shadow:1px 1px lightsalmon;
}

.project-container {
    height:25vh;
    width:100vw;
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items:center;
    background-color: #f8f8f8;
}