.contact-container {
    width: 100vw;
    height:35vh;
    background-color:lightsalmon;
    padding:2vh;
}

.contact-icon {
    background-color:transparent;
    height:4.5vh;
    width:2vw;
    background-size:cover;
    border-radius:15%;
    margin:1vh;
}

.sendto-button {
    background-color:transparent;
    border: 2px solid white ;
    margin-top:2vh;
    width:15vw;
    height:7vh;
    color:white;
    font-size:0.75em;
    text-shadow:1px 1px black;
    border-radius:5px;
    padding:1vh;
    
}
.social-row {
    display:flex;
    flex-direction:row;
    justify-content:center;
    background-color:transparent;
    margin:1vw;
}