.portfolio-item {
    width:100vw;
    height:100vh;
    border-bottom:1px solid #e2e1e0;
    display:grid;
    grid-template-columns:20% 20% 20% 20% 20%;
    grid-template-rows:16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
   


}
.portfolio-item-text {
    color:black;
    grid-column-start: 2;
    grid-row-start: 2;
    margin-top:2vh;
    margin-left:2vw;
}
.portfolio-item-image {
    background-image:url('../assets/RCiphone.png');
    
    background-size: cover; 
    grid-row-start:2;
    grid-row-end:span 4;
    grid-column-start:3;
    grid-column-end:span 2;
}
.portfolio-item-button {
    background-color:transparent;
    color:black;
    border:1px solid lightsalmon;
}