.project-item {
    border:2px solid black;
    border-radius:180px;
    width:50vw;
    height:36vh;
    display:grid;
    grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
    grid-template-rows: 32.3% 2% 32.3% 33.3%;
    transition: background-color .5s;
    margin-top:2vh;
    margin-bottom:2vh;
}
.project-item:hover {
    background-color: gold;
    transition: background-color .5s;
}
.project-item-image {
    grid-column-start:1;
    // width: 100%;
    // height: auto;
    grid-column-start:1;
    grid-column-end: 2;
}
.project-item-title {
    grid-column-start:4;
    grid-column-end:span 2;
    text-align:center;
    // margin-left:3vw;
    margin-top:2vh
}
.project-item-description {
    grid-column-start:3;
    grid-column-end: span 4;
    grid-row-start:2;
    grid-row-end:span 2;
    // margin-left:3vw;
    margin-top:2vh;
    margin-right:2vw;
    margin-left:2vw;

}
.project-seperator {
    border-bottom:2px solid black;
    grid-row-start: 2;
    grid-column-start: 4;
    grid-column-end: span 2;

}